@font-face {
  font-family:Pokemon ;
  src: url(PokemonGB.ttf);
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pokemon;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-repeat: no-repeat;
  justify-content: center;
  
}
